on: 
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop
jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: set_up_env
        run: |
          sudo apt-get update
          sudo apt-get install wget
          sudo apt-get install unzip
      - name: checkout_repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: download_lib
        run: |
          mkdir fonts
          cd fonts
          wget https://raw.githubusercontent.com/silencesmile/Young_WeChart/master/fonts/simkai.ttf
          wget https://raw.githubusercontent.com/adobe-fonts/source-han-sans/release/OTF/SimplifiedChinese/SourceHanSansSC-Bold.otf
          wget https://raw.githubusercontent.com/adobe-fonts/source-han-sans/release/OTF/SimplifiedChinese/SourceHanSansSC-Regular.otf
          wget https://raw.githubusercontent.com/adobe-fonts/source-han-serif/release/OTF/SimplifiedChinese/SourceHanSerifSC-Bold.otf
          wget https://raw.githubusercontent.com/adobe-fonts/source-han-serif/release/OTF/SimplifiedChinese/SourceHanSerifSC-Regular.otf
          cd ..
      - name: compile
        uses: xu-cheng/texlive-action@v2
        with:
          scheme: full
          run: |
            git config --global --add safe.directory /home/runner/work/pbrtbook/pbrtbook
            ./cp.sh
            BOOK_PATH="$(git describe --tags --abbrev=0)-$(git rev-parse --short HEAD).pdf"
            mv main.pdf ${BOOK_PATH}
            echo "BOOK_PATH=${BOOK_PATH}" >> ${GITHUB_ENV}
      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: upload_pdf
          path: ${{ env.BOOK_PATH }}
